<h3>Customers</h3>
Filter: <input type="text" ng-model="customerFilter.name"/>
<br />
    <table>
      <tr>
        <th ng-click="doSort('name')">
          Name
        </th>
        <th ng-click="doSort('age')">
          Age
        </th>
        <th ng-click="doSort('joined')">
          Joined
        </th>
        <th ng-click="doSort('orderTotal')">
           Order Total
        </th>
        <th>
          &nbsp;
        </th>
      </tr>
      <tr ng-repeat="customer in customers | filter: customerFilter | orderBy:sortBy:reverse" >
        <td>
          {{customer.name}}
        </td>
        <td>
          {{customer.age}}
        </td>
        <td>
          {{customer.joined | date: 'yyyy-MM-dd'}}  <!--medium, longDate -->
        </td>
        <td>
          {{customer.orderTotal | currency: 'y'}}
        </td>
        <td>
          <a href='#/orders/{{customer.id}}'>View Orders</a>
        </td>
      </tr>
    </table>
